.container {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.icon {
  display: block;
  width: 7rem;
  max-width: 100%;
  margin-top: 0.5rem;
}

button {
  padding: 1rem;
  width: 100%;
  background: rgb(187, 137, 145);
  color: white;
  border-radius: 1rem;
  border: none;
  font: inherit;
  margin: 1.5rem 0 1rem 0;
  outline: none;
}

.ids {
  margin-bottom: 2.5rem;

  .id {
    position: relative;
    padding: 1rem 1.5rem;
    border: 2px solid rgb(228, 176, 184);
    box-shadow: 0 3px rgba(228, 176, 184, 0.4);
    color: rgb(36, 70, 133);
    font-weight: bold;
    margin: 0.5rem 0;
    border-radius: 1rem;
  }
}

a {
  color: rgb(228, 176, 184);
}

.gh-link {
  text-align: center;
}
